body {
  font: 100% BrownStd;
  color: #333;
  font-size: 12px;
}

.clearfix:before {
  content: " ";
  display: table;
}

.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

#active {
  border-bottom: 1px solid #0064ff;
  padding-bottom: 4px;
  transition: all 0.3s ease 0s;
}

#active:hover {
  border-bottom: 1px solid #40454e;
}

/* ========================== nav ======================== */
header {
  position: fixed;
  background: #fff;
  padding: 10px 0px;
  z-index: 100;
}

@media (max-width: 980px) {
  header {
    padding: 11px 0px 27px 0px;
  }
}

header nav {
  padding: 0px 6em;
}

@media (max-width: 980px) {
  header nav {
    padding-bottom: 20px;
    padding: 0px 2em;
  }
}

header nav .logo {
  display: inline;
  position: relative;
  top: 0.75em;
}

header nav .logo img {
  height: 17px;
}

@media (max-width: 550px) {
  header nav .logo img {
    height: 11px;
    position: relative;
    top: 3px;
  }
}

header nav a#mobileButton {
  display: none;
  height: 20px;
  width: 20px;
  background-image: url("../img/menu.svg");
}

@media (max-width: 980px) {
  header nav a#mobileButton {
    display: block;
    float: right;
    position: relative;
    top: 7px;
  }
  header nav a#mobileButton img {
    height: 20px;
  }
}

header nav ul {
  float: right;
  position: relative;
  top: 1em;
}

@media (max-width: 980px) {
  header nav ul {
    display: none;
  }
}

header nav ul li {
  display: inline;
  padding-left: 1em;
}

header nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  color: #0064ff;
  transition: all 0.3s ease 0s;
}

header nav ul li a:hover {
  color: #40454e;
}

/* ============================ mobile nav ==================== */
#mobileMenu {
  display: none;
}

@media (max-width: 980px) {
  #mobileMenu {
    position: absolute;
    background: #0055D8;
    width: 100%;
    top: 58px;
  }
  #mobileMenu ul {
    text-align: center;
    list-style: none;
    margin-bottom: 0px;
  }
  #mobileMenu ul a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    color: #fff;
  }
  #mobileMenu ul a li {
    padding: 30px 0px;
    transition: all 0.3s ease 0s;
    margin-bottom: 0px;
  }
  #mobileMenu ul a li:hover {
    background: #40454e;
  }
}

/* ============================ banner ==================== */
.banner {
  background: #0064ff;
  text-align: center;
  padding-top: 60px;
}

.banner .container {
  padding: 12em 0px;
}

.banner .container h6 {
  font-size: 1em;
  letter-spacing: .2em;
  color: #fff;
  text-transform: uppercase;
}

.banner .container h2 {
  font-size: 3em;
  margin: 0 auto;
  font-family: georgia;
  max-width: 700px;
  color: #fff;
}

/* ============================ banner about ==================== */
.about .banner {
  background: #f0f3f6;
  text-align: center;
  padding-top: 60px;
}

.about .banner .container {
  padding: 18em 0px;
}

.about .banner .container h2 {
  font-size: 3em;
  margin: 0 auto;
  font-family: georgia;
  max-width: 700px;
  color: #40454e;
}

/* ============================ testimonials ==================== */
.testimonials {
  color: #0064ff;
  padding: 80px 0px;
}

.testimonials .container {
  max-width: 700px;
}

.testimonials .container h6 {
  font-size: 1em;
  letter-spacing: .2em;
  color: #0064ff;
  text-transform: uppercase;
  text-align: center;
}

.testimonials .container .viewmore {
  text-align: center;
  margin-top: 4em;
}

.testimonials .container .viewmore button {
  font-family: BrownStd;
  text-transform: uppercase;
  background: #fff;
  padding: 15px 40px;
  border: 1px solid #0064ff;
  letter-spacing: .2em;
  transition: all 0.3s ease 0s;
}

.testimonials .container .viewmore button:hover {
  background: #0064ff;
  color: #fff;
}

/* ============================ testimonials carosel ==================== */
.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-top: -10px\9;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0);
}

.slick-prev {
  left: -200px;
  background-image: url("../img/arrow-01.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.slick-next {
  right: -200px;
  background-image: url("../img/arrow-02.svg");
  background-image-background-position: 0 0;
  background-repeat: no-repeat;
}

/* ============================ find us ==================== */
.location {
  background: #f0f3f6;
  padding: 80px 0px;
}

.location h6 {
  font-size: 1em;
  letter-spacing: .2em;
  color: #40454e;
  text-transform: uppercase;
  text-align: center;
}

.location p {
  text-align: center;
  color: #40454e;
  font-family: georgia;
  font-size: 18px;
  line-height: 20px;
}

/* ============================ footer ==================== */
footer {
  background: #40454e;
  padding: 30px 6em 10px 6em;
}

footer h6 {
  font-size: 1em;
  letter-spacing: .2em;
  color: #f0f3f6;
  text-transform: uppercase;
  float: left;
}

footer .group {
  float: right;
}

footer .group h6 {
  position: relative;
  right: 50px;
}

footer .group .facebook {
  background-image: url("../img/facebook.svg");
  position: relative;
  top: -4px;
  left: 60px;
  height: 30px;
  width: 30px;
  transition: all 0.3s ease 0s;
}

footer .group .facebook:hover {
  background-image: url("../img/facebookhover-01.svg");
}

/* ============================ dr gispert about ==================== */
.doctor .wrap {
  padding: 6em 0em;
}

.doctor .wrap h6 {
  font-size: 1em;
  letter-spacing: .2em;
  color: #0064ff;
  text-transform: uppercase;
  text-align: center;
}

.doctor .wrap p {
  font-size: 14px;
  line-height: 20px;
  font-family: georgia;
  color: #0064ff;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

/* ============================ team ==================== */
.team {
  background: #f0f3f6;
}

.team .title {
  padding: 6em 0em;
}

.team .title h6 {
  text-align: center;
  font-size: 1em;
  letter-spacing: .2em;
  color: #40454e;
  text-transform: uppercase;
  text-align: center;
}

.team .row .four .photo {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 0 auto;
  background: #fff;
}

.team .row .four .info {
  margin-top: 2em;
  margin-bottom: 6em;
}

.team .row .four .info h6 {
  font-size: 1em;
  letter-spacing: .2em;
  color: #40454e;
  text-transform: uppercase;
  text-align: center;
  margin: 0px;
}

.team .row .four .info p {
  text-align: center;
  margin: 0px;
  font-family: georgia;
  font-size: 14px;
  font-style: italic;
  text-transform: capitalize;
}

/* ============================ history ==================== */
.history .wrap {
  padding: 6em 0em;
}

.history .wrap h6 {
  font-size: 1em;
  letter-spacing: .2em;
  color: #0064ff;
  text-transform: uppercase;
  text-align: center;
}

.history .wrap p {
  font-size: 14px;
  line-height: 20px;
  font-family: georgia;
  color: #0064ff;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

/* ============================ procedures ==================== */
.procedures {
  background: #0064ff;
}

.procedures .wrap {
  padding: 6em 0em;
  max-width: 500px;
  margin: 0 auto;
}

.procedures .wrap h6 {
  font-size: 1em;
  letter-spacing: .2em;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.procedures .wrap ul {
  text-align: center;
}

.procedures .wrap ul li {
  font-size: 14px;
  line-height: 20px;
  font-family: georgia;
  color: #fff;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  list-style: none;
}

/* ============================ contact ==================== */
/* ============================ banner ==================== */
.banner.contact .directions {
  text-align: center;
  margin-top: 4em;
  font-family: BrownStd;
  text-transform: uppercase;
  background: #0064ff;
  padding: 15px 40px;
  border: 1px solid white;
  letter-spacing: .2em;
  transition: all 0.3s ease 0s;
  color: #fff;
}

.banner.contact .directions:hover {
  background: #fff;
  color: #0064ff;
}

/* ============================ map ==================== */
.map {
  max-width: none;
  background: url("../img/map.png");
  background-size: cover;
  background-position: center;
  height: 333px;
  width: 100%;
  margin: 0 auto;
}

.map img {
  width: 100%;
}

/* ============================ hours ==================== */
.hours .wrap {
  padding: 6em 0em;
}

.hours .wrap h6 {
  font-size: 1em;
  letter-spacing: .2em;
  color: #0064ff;
  text-transform: uppercase;
  text-align: center;
}

.hours .wrap p {
  font-size: 14px;
  line-height: 20px;
  font-family: georgia;
  color: #0064ff;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

/* ============================ space ==================== */
.space {
  background: #f0f3f6;
}

.space .title {
  padding: 6em 0em;
}

.space .title h6 {
  text-align: center;
  font-size: 1em;
  letter-spacing: .2em;
  color: #40454e;
  text-transform: uppercase;
  text-align: center;
}

.space .row {
  padding-bottom: 0px;
}

.space .row .six .photo {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  background: #fff;
  margin-bottom: 4em;
}

/* ============================ patients ==================== */
/* ============================ print ==================== */
.banner.print {
  background: #40454e;
}

.banner.print .directions {
  text-align: center;
  margin-top: 4em;
  font-family: BrownStd;
  text-transform: uppercase;
  background: #40454e;
  padding: 15px 40px;
  border: 1px solid white;
  letter-spacing: .2em;
  transition: all 0.3s ease 0s;
  color: #fff;
}

.banner.print .directions:hover {
  background: #fff;
  color: #40454e;
}

/* ============================ online ==================== */
.banner.online {
  background: #f0f3f6;
  padding-top: 0px;
}

.banner.online h6 {
  color: #0064ff;
}

.banner.online h2 {
  color: #0064ff;
}

.banner.online .directions {
  text-align: center;
  margin-top: 4em;
  font-family: BrownStd;
  text-transform: uppercase;
  background: #f0f3f6;
  padding: 15px 40px;
  border: 1px solid #0064ff;
  letter-spacing: .2em;
  transition: all 0.3s ease 0s;
  color: #0064ff;
}

.banner.online .directions:hover {
  background: #0064ff;
  color: #fff;
}

/* ============================ appointment ==================== */
.appointments .wrap {
  padding: 6em 0em;
}

.appointments .wrap h6 {
  font-size: 1em;
  letter-spacing: .2em;
  color: #0064ff;
  text-transform: uppercase;
  text-align: center;
}

.appointments .wrap p {
  font-size: 14px;
  line-height: 20px;
  font-family: georgia;
  color: #0064ff;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

/* ============================ sources ==================== */
.sources {
  background: #f0f3f6;
}

.sources .wrap {
  padding: 6em 0em;
  text-align: center;
}

.sources .wrap h6 {
  font-size: 1em;
  letter-spacing: .2em;
  color: #40454e;
  text-transform: uppercase;
  text-align: center;
}

.sources .wrap a {
  font-size: 14px;
  line-height: 20px;
  font-family: georgia;
  color: #0064ff;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  text-decoration: none;
  color: #40454e;
  text-transform: capitalize;
}
